body, td, caption {
    font-family: "Palatino Linotype", Palatino, serif;
    background-color: white;
    font-size: 16px;
}

body {
    margin: auto;
    width: 750px;
}

p {
    text-indent: 1em;
    text-align: justify;
}

p {
    text-indent: 1em;
    text-align: justify;
}

#header {
    /* background-color: #F6F6F6; */
    border-top: 1.5px solid #003A3A;
    border-right: 0px solid black;
    border-bottom: 1.5px solid #003A3A;
    border-left: 0px solid black;
    padding-top: 0px;
    margin: 5px;
}

h1.title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #004E4E;
    margin: 5px;
}

h4.author {
    text-align: center
}

h4.date {
    font-style: normal;
    text-align: center;
}


/* Configura a tabela de conteúdo */

#TOC {
    clear: both;
    margin: 10px 0px 10px 40px;
    padding: 10px 10px 1px 0px;
    width: 60%;
    border: 0px solid #CCC;
    border-radius: 0px;
    background-color: #F6F6F6;
    font-size: 14px;
    line-height: 1.3;
}

a {
    color: #149494;
    text-decoration: none;
}

a:hover, a:focus {
    color: #004E4E;
    text-decoration: underline;
}

/* Customização de blocos de códigos R */

pre, code {
    background-color: #EDEDED;
    color: #333;
    font-size: 95%;
}

pre {
    font-size: 88%;
    word-break: keep-all;
    margin: 1ex 0px 1ex 0px;
    padding: 8px 5ex 8px 2ex;
    border: 0px solid #CCC;
    border-radius: 0px;
}

tt, code, pre {
    font-family: "Inconsolata", "Andale Mono", monospace;
}

pre:not([class]) {
    background-color: #D4D4D4;
    font-size: 14px;
}

/*
  -----------------------------------------------------------------------------
  Tabelas
  -----------------------------------------------------------------------------
  */

/* Center the table and add top/bottom margins */
table {
    /* page-break-before: always; */
    /* display: table; */
    /* float: left; */
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: 0px;
    border-right: 0px;
    /* border-collapse: separate; */
    border-collapse: collapse;
}

table.none {
    border-top: 0px solid #000000;
    border-bottom: 0px solid #000000;
}

table.wide {
    width: 95%;
}

th, td, tr {
    color: #000000;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 0px;
}

th {
    border-bottom: 1px solid #000000;
}

th.none {
    border-bottom: 0px solid #000000;
}

/*
  -----------------------------------------------------------------------------
  Padrões para fazer destaque de cédulas ou valores
  -----------------------------------------------------------------------------
  */

/* Texto na cor vermelha. */
td.red {
    /* color: #FF0000; */
    color: #CC0000;
}

/* Texto na cor azul. */
td.blue {
    /* color: #0000FF; */
    color: #0000CC;
}

/* Cédula com cor ciza de fundo. */
td.shade {
    background-color: #CCCCCC;
}

/* Linha embaixo. */
td.line {
    border-bottom: 1px solid #000000;
}

/* Negrito. */
td.bold {
    font-weight: bold;
}

/* Itálico. */
td.italic {
    font-style: italic;
}
